@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}

<div class="row mt-3">
    <div class="col">
        <div class="form-group">
            <a class="btn btn-primary modal-action" href="#" role="button" data-action="add" data-toggle="modal" data-target="#cat-modal"><i class="far fa-plus"></i> Add Cat</a>
            <a class="btn btn-primary modal-action" href="#" role="button" data-action="edit" data-toggle="modal" data-target="#cat-modal"><i class="far fa-edit"></i> Edit Cat</a>
            <a class="btn btn-danger" href="#" role="button" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i> Remove Cat</a>
        </div>
    </div>
</div>
<div class="row" style="height:100%">
    <div class="col" style="height:100%">
        <div id="cat-grid" style="height: 100%;width: 100%" class="ag-theme-balham"></div>
    </div>
</div>

@section Modals {
    <div class="modal" tabindex="-1" role="dialog" id="cat-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="far fa-cat"></i> <span id="cat-modal-title">Edit Cat</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="cat-form">
                            <input type="hidden" id="cat-id" />
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cat-name">Name</label>
                                        <input type="text" class="form-control" id="cat-name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cat-birth">Born</label>
                                        <input type="datetime-local" class="form-control" id="cat-birth" placeholder="Born">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="cat-hungry">
                                        <label class="custom-control-label" for="cat-hungry">Hungry</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="cat-mood">Mood</label>
                                        <select class="form-control" id="cat-mood">
                                            <option></option>
                                            <option value="Green">Green</option>
                                            <option value="Amber">Amber</option>
                                            <option value="Red">Red</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-confirm"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="far fa-cat"></i> <span id="delete-modal-title"> Confirm Deletion</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            Are you sure you want to delete <span id="delete-modal-cat-name"></span>?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="delete-confirm"><i class="far fa-trash-alt"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>

}